#maindiv{
    /* border: 1px solid black; */
    display: flex;
    text-align: center;
    height: 150px;
    gap: 40px;
    margin-top: 200px;
    margin-left: 180px;
}
.divv{
    border: 1px solid black;
    height: 110px;
    width: 100px;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 60px;
    text-align: center;
    margin-top: 0px;
}
#divvv{
    border: 1px solid black;
    height: 80px;
    width: 90px;
    background-color: aqua;
    border-radius: 10px;
    
     margin-left: 60px;
    text-align: center;
    margin-top: 25px;
}
#date{
   display: flex;
   border: 1px solid black;
   height: 80px;
   gap: 20px;
   width: 450px;
   text-align: center;
   margin-left: 350px;
   margin-bottom: 200px;
   margin-top: 10px;
   background-color: lawngreen;
}
.divv1{
    text-align: center;
    margin-top: 1px;
    margin-left: 60px;
}
